.form-group{
  margin-left: 12px;
  margin-top: 5px;
}
.submit{
  margin-left:200px;
  margin-top: 10px;
}

.mandatory:after {
  content:" *";
  color: red;
}

.DateOfBirth{
  margin-left:220px;
  margin-top: 10px;
}
